
<script type="text/javascript" src="dashboard.js"></script>
<h1>Looks like this is a dashboard!</h1>
<p id="text">Loading...</p>
<p id="notification">Loading...</p>
<button onclick="notifyMe()">Notify me!</button>
